<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Story VII</title>
    </head>
    <body>
        <div class="container mt-5 text-center" style="padding-top: 23vh;">
            <h1>Hello, how are you?</h1>
        </div>

        <form method="POST">{% csrf_token %}
            <div class="container mt-4" style="padding: 0 20% 0 20%;">
                {{ status_form.name }}
            </div>
            <div class="container mt-4" style="padding: 0 20% 0 20%;">
                {{ status_form.message }}
            </div>
            <div class="container text-center mt-3">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>

        <ul class="list-group mt-5 mb-5" style="padding: 0 20% 0 20%;">
            {% for status in statuses reversed %}
            <li class="list-group-item">
                <h3>{{ status.name }}</h3>
                <p>{{ status.message }}</p>
            </li>
            {% endfor %}
        </ul>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>